<footer class="bg-body-tertiary text-bg-secondary py-3 mt-4">
  <div class="container">
    <div class="row">
      <!-- Navigation Links -->
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <ul class="nav justify-content-start mb-2">
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  [routerLink]="['/home']">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  [routerLink]="['/cv']">CV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  [routerLink]="['/competences']">Compétences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  [routerLink]="['/projects']">Projets</a>
              </li>
            </ul>
            <ul class="nav justify-content-start">
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  href="https://github.com/enzofrnt" target="_blank">
                  <i class="bi bi-github"></i> GitHub
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  href="https://www.linkedin.com/in/enzofrnt/" target="_blank">
                  <i class="bi bi-linkedin"></i> LinkedIn
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2"
                  href="mailto:contact&#64;enzo-frnt.fr">
                  <i class="bi bi-envelope"></i> contact&#64;enzo-frnt.fr
                </a>
              </li>
            </ul>
          </div>
          <div class="align-self-center">
            <small class="text-white">
              © 2025 Enzo Fournet
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
