<footer class="bg-body-tertiary text-white py-3 mt-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Navigation Links -->
      <div class="col-lg-9 col-md-8">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Platform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Benchmark</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Use Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" href="#">Contact</a>
          </li>
        </ul>
      </div>

      <!-- Copyright Info -->
      <div class="col-lg-3 col-md-4 text-end">
        <small>&copy; {{this.currentYear}} <strong>Propeller</strong>. Crafted
          by <a
            href="#"
            class="text-white text-decoration-underline">DIGI<strong>CORP</strong></a></small>
      </div>
    </div>
  </div>
</footer>
