.wait-nav{
    height: 70px ;
    width: 100% ;
    position: relative;
}

body {
    background-color: #6e6e6e;
    color: #2e2e2e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}    

.hilight2 {
    color: #ffffff !important;
}

.projet-hilight2 {
    color: #ffffff !important;
}