body {
    background-color: #a8a8a8;
    color: #2e2e2e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}    

.hilight3 {
    color: #ffffff !important;
}

.canva {
    
    vertical-align: center;
    align-items: center;
    text-align: center;
    width: 600px; 
    height: 850px; 
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0); 
    overflow: hidden;
    border-radius: 8px; 
    will-change: transform;
}

.canva_iframe {
    margin-top: 10px;
    width: 584px; 
    height: 827px;  
    border: none;
}