body {
    background-color: #6e6e6e;
    color: #2e2e2e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}    

.hilight3 {
    color: #ffffff !important;
}

.block {
    display: flex-start;
}

.canva {
    padding-top: 10px;
    text-align: center;
    width: 600px; 
    height: 840px; 
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0); 
    border-radius: 8px;
    margin: 10px;
}

.canva_iframe {
    width: 580px; 
    height: 820px;
    border: none;
}