body {
    background-color: #a8a8a8;
    color: #2e2e2e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}    


/*  nav */

hr {
    margin : 30px 0px;
}































.clean-list  {    
    display: block;
    min-width: 10px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    color: #a8a8a8;
}

.align-left{
    justify-content: left;
}





.posTotal {
    margin-top: 30px;
    text-align: center;
}

.center {
    margin-top: 40px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    height: 300px;
    width: 300px;

    border-radius: 50px;
    background: #808080;
    box-shadow:  5px 5px 30px #6d6d6d,
                 -5px -5px 30px #939393;

}.button:hover {
    border-radius: 50px;
background: #808080;
box-shadow: inset 5px 5px 30px #6d6d6d,
            inset -5px -5px 30px #939393;
}


