:root {
    --main-color: #6e6e6e;
}


body {
    background-color: var(--main-color);
    color: #2e2e2e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}    


/*  nav */

hr {
    margin : 30px 0px;
}

.align-left{
    justify-content: left;
}

.posTotal {
    margin-top: 30px;
    text-align: center;
}

.center {
    margin-top: 40px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    height: 300px;
    width: 300px;

    border-radius: 50px;
    background: var(--main-color);
    box-shadow:  5px 5px 30px #5e5e5e,
                 -5px -5px 30px #7f7f7f;

}.button:hover {
    border-radius: 50px;    
background: var(--main-color);
box-shadow: inset 5px 5px 30px #5e5e5e,
            inset -5px -5px 30px #7f7f7f;
}


