<div class="card h-100">
  <img
    src="assets/images/{{ project.id }}.png"
    class="card-img-top"
    alt="{{ project.name }}"
    onerror="this.src='assets/images/default.png';" />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ project.name }}</h5>
    <p class="card-text">{{ project.description }}</p>
    <div class="d-flex align-items-center mt-auto">
      <a [routerLink]="[project.id]" class="btn btn-primary flex-grow-1 me-2">
        Voir le projet
      </a>
      <a [href]="project.link" *ngIf="project.link" class="btn btn-secondary">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</div>
