.timeline-wrapper {
  min-height: 5052px;
}

app-timeline {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.bg-body {
  &.p-6.rounded-2xl.shadow-md {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }
  }
}
