@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: block;
  position: relative;
  margin: 2rem 0;
  width: 100%;
  overflow: visible;
  z-index: 1;
}

:host::after {
  content: '';
  display: block;
  clear: both;
}
