.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  button {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-secondary);
    border: none;
    color: var(--bs-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    i {
      font-size: 1.5rem;
      color: var(--bs-white);
    }

    &:hover {
      background-color: var(--bs-secondary);
      filter: brightness(90%);
      transform: translateY(-2px);
    }
  }
}
