$bg-dark-mode-color: #2d3436;
$bg-light-mode-color: #dfe6e9;
$color-dark-mode: #dfe6e9;
$color-light-mode: #2d3436;

.dark-mode-toggle {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  i {
    font-size: 20px;
    transition: color 0.3s ease;
  }

  .bi-brightness-high {
    color: $color-light-mode;
  }

  .bi-moon-stars {
    color: $color-dark-mode;
  }
}
