<div class="container text-center my-5">
  <h1 class="mb-4">Compétences</h1>
  <p class="text-muted">
    Cliquez sur le dernier niveau de chaque compétence pour accéder à un projet
    illustratif.
  </p>
  <div
    class="
    row
    row-cols-1
    row-cols-sm-2
    row-cols-md-3
    row-cols-lg-6
    row-cols-xl-6
    row-cols-xxl-6
    g-4">
    <div
      class="col col-competence"
      *ngFor="let competence of competences; let i = index"
      [ngClass]="{ 'hovered': hoveredIndex === i }">
      <div class="bg-transparent card h-100 border-0">
        <div
          class="card-header text-white text-center rounded mb-3"
          [style.backgroundColor]="competence.color"
          (mouseover)="onMouseOver(i)"
          (mouseleave)="onMouseLeave()">
          <h5 class="mb-0">{{ competence.title }}</h5>
        </div>
        <div class="card-body p-0 mb-4">
          <div class="list-group d-flex flex-column h-100">
            <div
              class="list-group-item d-flex flex-column justify-content competence shadow-sm"
              *ngFor="let niveau of competence.niveaux"
              (mouseover)="onMouseOver(i)"
              (mouseleave)="onMouseLeave()">
              <h6 class="fw-bold">{{ niveau.titre }}</h6>
              <p
                class="mb-0 text-secondary d-flex align-items-center justify-content-center">
                {{ niveau.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
