<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-4 text-center mb-4 mb-md-0 mt-4">
      <img
        ngSrc="assets/images/pp.webp"
        alt="Enzo Fournet"
        id="profile-image"
        width="300"
        height="300"
        class="rounded-circle img-fluid profile-image"
        priority />
    </div>
    <div class="col-md-8">
      <h1 class="display-4 mb-4">Enzo Fournet</h1>
      <h2 class="h4 text-muted">Etudiant Développeur et Alternant</h2>
      <h4 class="h6 text-muted mb-4">{{this.age}} ans</h4>
      <p class="lead mb-4">
        Passionné par le développement logiciel et les nouvelles technologies,
        je suis actuellement étudiant en BUT Informatique. Mon objectif est de
        créer des solutions innovantes qui répondent aux besoins des
        utilisateurs.
      </p>
      <div class="d-flex gap-3">
        <a href="https://github.com/enzofrnt"
          target="_blank"
          class="btn btn-secondary">
          <i class="bi bi-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/enzofrnt/"
          target="_blank"
          class="btn btn-primary">
          <i class="bi bi-linkedin"></i> LinkedIn
        </a>
        <a [routerLink]="['/cv']" class="btn btn-secondary">
          <i class="bi bi-file-earmark-person"></i> CV
        </a>
      </div>
    </div>
  </div>
</div>

<app-timeline></app-timeline>

<div class="container py-5">
  <h2 class="display-5 mb-4">Hard Skills</h2>

  <div class="row g-4">
    <!-- Langages de programmation -->
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h3 class="h4 mb-4 bg-primary text-white p-2 rounded-3 text-center">
            Langages de programmation
          </h3>
          <div class="d-flex flex-wrap gap-1 justify-content-center">
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=cs" alt="C#" width="50"
                height="50">
              <p class="mt-2 mb-0">C#</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=c" alt="C" width="50"
                height="50">
              <p class="mt-2 mb-0">C</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=python" alt="Python"
                width="50" height="50">
              <p class="mt-2 mb-0">Python</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=js" alt="JavaScript"
                width="50" height="50">
              <p class="mt-2 mb-0">JavaScript</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=ts"
                alt="TypeScript"
                width="50" height="50">
              <p class="mt-2 mb-0">TypeScript</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=php" alt="PHP" width="50"
                height="50">
              <p class="mt-2 mb-0">PHP</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=java" alt="Java"
                width="50" height="50">
              <p class="mt-2 mb-0">Java</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Frontend -->
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h3 class="h4 mb-4 bg-info text-white p-2 rounded-3 text-center">
            Frontend
          </h3>
          <div class="d-flex flex-wrap gap-1 justify-content-center">
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=react" alt="React"
                width="50" height="50">
              <p class="mt-2 mb-0">React</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=angular" alt="Angular"
                width="50" height="50">
              <p class="mt-2 mb-0">Angular</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=vue" alt="VueJS"
                width="50" height="50">
              <p class="mt-2 mb-0">VueJS</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=html" alt="HTML"
                width="50" height="50">
              <p class="mt-2 mb-0">HTML</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=css" alt="CSS" width="50"
                height="50">
              <p class="mt-2 mb-0">CSS</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=scss" alt="SCSS"
                width="50"
                height="50">
              <p class="mt-2 mb-0">SCSS</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=tailwind" alt="Tailwind"
                width="50" height="50">
              <p class="mt-2 mb-0">Tailwind</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=bootstrap"
                alt="Bootstrap"
                width="50" height="50">
              <p class="mt-2 mb-0">Bootstrap</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Backend & DevOps -->
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h3 class="h4 mb-4 bg-secondary text-white p-2 rounded-3 text-center">
            Backend & DevOps
          </h3>
          <div class="d-flex flex-wrap gap-1 justify-content-center">
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=dotnet" alt=".NET"
                width="50" height="50">
              <p class="mt-2 mb-0">.NET</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=mysql" alt="SQL"
                width="50" height="50">
              <p class="mt-2 mb-0">MySQL</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=postgresql"
                alt="PostgreSQL"
                width="50" height="50">
              <p class="mt-2 mb-0">PostgreSQL</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=sqlite" alt="SQLite"
                width="50" height="50">
              <p class="mt-2 mb-0">SQLite</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=kubernetes"
                alt="Kubernetes"
                width="50" height="50">
              <p class="mt-2 mb-0">Kubernetes</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=docker" alt="Docker"
                width="50" height="50">
              <p class="mt-2 mb-0">Docker</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=git" alt="Git" width="50"
                height="50">
              <p class="mt-2 mb-0">Git</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=github" alt="GitHub"
                width="50" height="50">
              <p class="mt-2 mb-0">GitHub</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=gitlab" alt="GitLab"
                width="50" height="50">
              <p class="mt-2 mb-0">GitLab</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=nginx" alt="Nginx"
                width="50" height="50">
              <p class="mt-2 mb-0">Nginx</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Autres Frameworks -->
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h3 class="h4 mb-4 bg-success text-white p-2 rounded-3 text-center">
            Autres Frameworks
          </h3>
          <div class="d-flex flex-wrap gap-1 justify-content-center">
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=django" alt="Django"
                width="50" height="50">
              <p class="mt-2 mb-0">Django</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=spring" alt="Spring"
                width="50" height="50">
              <p class="mt-2 mb-0">Spring</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=symfony" alt="Symfony"
                width="50" height="50">
              <p class="mt-2 mb-0">Symfony</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=java" alt="JavaFX"
                width="50" height="50">
              <p class="mt-2 mb-0">JavaFX</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- IDE / Editeurs de code -->
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h3 class="h4 mb-4 bg-warning text-dark p-2 rounded-3 text-center">
            IDE / Editeurs de code
          </h3>
          <div class="d-flex flex-wrap gap-1 justify-content-center">
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=vscode" alt="VSCode"
                width="50" height="50">
              <p class="mt-2 mb-0">VSCode</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=eclipse" alt="Eclipse"
                width="50" height="50">
              <p class="mt-2 mb-0">Eclipse</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=postman" alt="Postman"
                width="50" height="50">
              <p class="mt-2 mb-0">Postman</p>
            </div>
            <div class="text-center skill-item mb-4 mt-2"
              style="flex: 0 0 30%;">
              <img src="https://skillicons.dev/icons?i=visualstudio"
                alt="Visual Studio"
                width="50" height="50">
              <p class="mt-2 mb-0">Visual Studio</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<hr class="my-4" />

<app-competence [competenceLink]="true"></app-competence>

<app-projects-list
  [includePersoProjects]="false"
  [includeCompetences]="true"
  [competenceLink]="true"></app-projects-list>

<hr class="my-4" />

<app-contact-form></app-contact-form>
